# Set default behavior to automatically normalize line endings
* text=auto
# Explicitly declare specific files to use LF
BackendApplication/image_data_extraction.py text eol=lf
BackendApplication/my_flask_app.py text eol=lf
MachineLearning/Data/Datasets/compressed_datasets.tar.gz filter=lfs diff=lfs merge=lfs -text
BackendApplication/artifacts/shape_predictor_68_face_landmarks.dat filter=lfs diff=lfs merge=lfs -text
